/******************** Utility ***********************************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --sfondo: white;
}
body{
    background-color: black;
}
main{
    background-color: var(--sfondo);
}
/******************** debug ***********************************/
/* .bomb{
    background-color: red;
} */


/******************** classi del gioco ***********************************/

.the-game{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    height: 550px;
}
.grid{
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.square{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline-block;
}
.show{
    background-image: url('../img/xmark-solid.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: grey;
}
.checked{
    background-image: url('../img/xmark-solid.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
}
.bomb-exploded{
    background-color: rgb(240, 240, 13);
    background-image: url('../img/circle-radiation-solid.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.result{
    height: 50px;
    font-weight: bold;
    font-size: 2rem;
}
#difficulty{
    padding: 0.5rem 2rem;
    border-radius: 15px;
    background-color: white;
}
#btn{
    background-color: white;
    padding: 0.5rem 2rem;
    border-radius: 25px;
}